Source: playvideodisk
Section: graphics
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: playvideodisk
Architecture: all
Depends: libxine1, xine-ui, initscripts-sidux-live
Conflicts: playvideodisk-kanotix
Description: Frontend for xine to change DVD-device on-the-fly
 This is really a missing-feature workaround for xine, since xine
 currently does not allow you to specify your DVD-Device by commandline
 option. The package may become obsolete soon, but is needed for the Kanotix
 xsession autoconfig.
